
<br><br><br><br><br>
<footer class="bg-primary text-center text-light">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
  <%=link_to"Privacy Policy", home_privacy_path, class:"text-white"%>  |  <%=link_to"Terms and Conditions", home_terms_path, class:"text-white"%>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: 
  
    <%=link_to"CrypXchange", root_path, class:"text-white"%>
  </div>
  <!-- Copyright -->
</footer>