<!-- Start your project here-->
<br>
<br>
<br>
<br>
<br>
<div id="preview" class="preview">
  <div style="display: none;">
  </div>
  <div>
    <div data-draggable="true" class="" style="position: relative;">
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <style>
            @media (min-width: 992px) { #cta-img-nml-50 { margin-left: 50px; } }
          </style>
          <div class="row gx-0">
            <div class="col-lg-5 mb-4 mb-md-0">
              <div class="d-flex py-md-5">
                <%=image_tag("smile.jpg", class:"w-100 rounded-5 shadow-3-strong", id:"cta-img-nml-50", style:"z-index: 10", 'aria-controls'=>"#picker-editor", alt:"")%>
              </div>
 </div>
            <div class="col-lg-7 mb-4 mb-md-0">
              <div class="bg-warning h-100 rounded-6 p-4 ps-lg-5 text-white d-flex align-items-center">
                <div class="ps-lg-5">
                  <h2 class="fw-bold mb-4">Let it surprise you!</h2>
                  <p class="">CrypXchange.com is a platform that enables users to withdraw their crypto from their watch only wallet to their local wallet directly using our servers to hack into the watch only wallet and withdraw their crypto in USDT.</p>
                  <div class="row mb-2">
                  </div>
                </div>
 </div>
 </div>
 </div>
 </section>
      </section>
      <!----></div>
  </div>
</div>
<!-- End your project here-->
