<div id="preview" class="preview">
  <div style="display: none;">
  </div>
  <div>
    <div data-draggable="true" class="" style="position: relative;">
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6"> <br>
              <br>
              <br>
              <h1 class="display-3 fw-bold ls-tight mb-4">
                <span>Fill in the form to get your activation code</span> </h1>
              The price for activation code is $50 in BTC OR 50 USDT.
              Note that the activation code is for single use only. If someone tries to login with
              your activation code, your account would be suspended for all transcations.<br>
              <br>
              <strong>Steps:</strong>
              <br>
              <strong>1</strong>. Copy our<strong> BTC</strong> address <strong>bc1qvg6meqsus0ccl8dfl06kfadz9kf0y7axnvka7j</strong> or <strong>USDT</strong> address <strong>0x45c0c07b02100e91916b7156fe805c695ecec7b3</strong><br>
              <br>
              <strong>2</strong>. Send the bitcoin/usdt amount from your wallet to our wallet.<br>
              <br>
              <strong>3</strong>. Fill out your details on the form and upload the screenshot of the confirmation page provided by your bitcoin/usdt wallet<br>
              <p>If you don't have access to any cryptocurrency mentioned above. You can also make your payment locally. Contact our agent on telegram for more information.</p>
              <br>
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div>
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example31"  />
                Male
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example32"  />
                Female
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
                <!-- file upload -->
                <label class="form-label" for="customFile">Upload Screenshot</label>
                <div class="form-outline mb-4">
                  <input type="file" class="form-control" id="customFile" />
                </div>
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33"  />
                  <label class="form-check-label" for="form2Example33">
                    Terms and conditions <br>
                    <%=link_to"Read it", home_terms_path%>
                  </label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
              </form>
 </div>
 </div>
 </section>
      </section>
      <!----></div>
  </div>
</div>
