<!-- Start your project here-->
<br>
<br>
<br>
<br>
<br>
<br>
<div id="preview" class="preview">
  <div style="display: none;">
  </div>
  <div>
    <div data-draggable="true" class="" style="position: relative;">
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <h2 class="fw-bold mb-5 text-center">Frequently asked questions</h2>
          <br>
          <br>
          <br>
          <div class="row"> 
            <div class="col-lg-4 col-md-12 mb-5"> 
              <p class="fw-bold">HOW CAN I TRANSFER MY COINS TO MY LOCAL WATCH ONLY WALLET?</p>
              <p class="text-muted"><strong>Step One:</strong> Login to your watch only id via our encrypted server on our website
                <br>
                <strong>Step Two:</strong> Input the amount of COINS you would like to withdraw. Note that the maximum is 100 COINS per any network e.g BITCOIN, BNB, ETHEREUM, on a given day.
                <br>
                <strong>Step Three:</strong> Input your local COINS addres. <br>
                <strong>Step Four:</strong> Confirm the order and your COINS would be transferred to your wallet.<br>
                <br>
                <strong> Note: </strong>to login to our sever you must have your activation code, without your activation code you won’t be able to access our server and perform your transactions.</p>
            </div>
 
            <div class="col-lg-4 mb-5">
              <p class="fw-bold">WHO CAN TRANSACT ON THIS PLATFORM?</p>
              <p class="text-muted">We transact with anyone from any part of the world who would like to use our CRYPXCHANGE transaction service</p>
            </div>
 
            <div class="col-lg-4 mb-5"> 
              <p class="fw-bold">DO YOU HAVE CUSTOMER SERVICE?</p>
              <p class="text-muted">Of course! Our friendly and knowledgeable customer services reps are available to answer your questions 24/7/365. You can send a mail to crypxchange@gmail.com</p>
            </div>
 </div>
 </section>
      </section>
      <!----></div>
  </div>
</div>
<!-- End your project here-->
