<div id="preview" class="preview">
  <div style="display: none;">
  </div>
  <div>
    <div data-draggable="true" class="" style="position: relative;" draggable="false">
      <!----><!---->
      <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
        <section class="" style="padding-bottom: 1px;">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-2">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Navbar brand -->
            </section>
          </section>
          <!---->
        </div>
        <div data-draggable="true" style="position: relative;" draggable="false" class="">
          <!---->
          <div class="mdb-placeholder" data-v-271253ee="">
          </div>
          <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
            <section class="mb-10">
              <!-- Background image -->
              <div class="p-5 text-center bg-image" style="background-image: url(&quot;https://images.unsplash.com/photo-1648737153811-69a6d8c528bf?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5NjI0M3wxfDF8c2VhcmNofDh8fG1vZGVybnxlbnwwfHx8fDE2NTExNzgxMDQ&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&quot;); height: 500px; background-size: cover; background-position: 50% 50%; background-color: transparent;" aria-controls="#picker-editor">
              </div>
              <!-- Background image -->
              <div class="container">
                <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                  <div class="card-body px-4 py-5 px-md-5">
                    <h1 class="display-3 fw-bold ls-tight mb-4">
                      <span>Securely withdraw your crypto from the watch only wallet to your local wallet</span> </h1>
                    <br>
                    <h2><span class="text-primary">already serviced more than 1500+ crypto watch only wallets! </span> </h2>
                    <%=link_to"get started", home_trade_path, class:"btn btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2", role:"button",'aria-controls'=>"#picker-editor", draggable:"false"%>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <!---->
        </div>
        <div data-draggable="true" style="position: relative;" class="" draggable="false">
          <!----><!---->
          <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
              <h2 class="fw-bold mb-5 text-center">
                <span class="me-1">Why are we the right</span>
                <u class="text-primary">choice?</u>
              </h2>
              <div class="row gx-lg-5">
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                    <i class="fas fa-headset fa-lg text-white fa-fw" aria-controls="#picker-editor">
                    </i>
                  </div>
                  <h5 class="fw-bold mb-3">Support 24/7</h5>
                  <p class="text-muted mb-0">Your requests will be handled by well trained and experienced staff aiming to respond as soon as possible</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                    <i class="fas fa-shield-alt fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
                  <h5 class="fw-bold mb-3">Safe and Secure</h5>
                  <p class="text-muted mb-0">We strive to create a trusted environment where customers feel confident in making transactions.</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                  <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                    <i class="fas fa-shipping-fast fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
                  <h5 class="fw-bold mb-3">Extremely fast</h5>
                  <p class="text-muted mb-0">Speed is key when you want to transact cryptocurrency. You can expect to get your BNB within a matter of minutes.</p>
                </div>
              </div>
            </section>
          </section>
          <!---->
        </div>
        <div data-draggable="true" class="" style="position: relative;" draggable="false">
          <!----><!---->
          <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                  <h2 class="mb-4 display-3 fw-bold ls-tight">
                    <span>Get your converted Funds</span> <br>
 <span class="text-primary">right in your wallet!</span> </h2>
                  <p class="text-muted lead">Processing time is instant and automated 24/7. Once our system confirms your transaction, it will be marked as “completed” and money sent immediately.</p>
                </div>
 </div>
            </section>
          </section>
          <!---->
        </div>
        <div data-draggable="true" class="" style="position: relative;" draggable="false">
          <!----><!---->
          <section draggable="false" class="container pt-5" data-v-271253ee="">
            <section class="mb-10 text-center"> 
              <h2 class="fw-bold mb-5 text-center">
                <span>There are good reasons to</span> <u class="text-primary">be proud</u>
              </h2>
 
              <div class="row gx-lg-5"> 
                <div class="col-md-4 mb-5 mb-md-4">
                  <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                    <i class="fas fa-smile-beam fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
 
                  <h3 class="fw-bold text-primary mb-3">1500+</h3>
 
                  <h5 class="text-muted mb-0">Happy customers</h5>
                </div>
 
                <div class="col-md-4 mb-5 mb-md-4"> 
                  <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                    <i class="fas fa-chart-line fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
 
                  <h3 class="fw-bold text-primary mb-3">70%</h3>
 
                  <h5 class="text-muted mb-0">Growth</h5>
 </div>
                <div class="col-md-4 mb-5 mb-md-4">
                  <div class="p-3 bg-primary rounded-4 shadow-2-strong d-inline-block mb-4">
                    <i class="fas fa-cogs fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                  </div>
 
                  <h3 class="fw-bold text-primary mb-3">49</h3>
                  <h5 class="text-muted mb-0">Processed</h5>
                </div>
 </div>
 </section>
          </section>
          <!---->
        </div>
        <div data-draggable="true" style="position: relative;" class="">
          <!----><!---->
          <section draggable="false" class="container pt-5" data-v-271253ee="">
          </section>
          <!---->
        </div>
      </section>
      <!---->
    </div>
  </div>
</div>
