<div id="preview" class="preview">
  <div style="display: none;">
  </div>
  <div>
    <div data-draggable="true" class="" style="position: relative;">
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6"> <br>
              <br>
              <br>
              <br>
              <h1 class="display-3 fw-bold ls-tight mb-4">
                <span>Terms and Conditions</span> </h1>
              <br>
              <p>1. At CrypXchange LTD, we DO NOT trade on your behalf, we are strictly an intermediary channel for hacking into your cryptocurrency watch only wallet to withdraw your cryptocurrency in the form of USDT to your local wallet address.
                <br>
                2. Any amount sent less than $50 will not be acknowledged as payment for the activation code and would not be refunded. The price for the activation code is fixed and constant. Please ensure to refresh this page due to wallet address changes.
                <br>
                3. We do NOT store or keep cryptocurrency for clients. If FOR ANY REASON this is done, it will be at your own discretion we WILL NOT be held liable for any losses which may have occurred or you may have incurred due to any transactions willingly done by you.
                <br>
                <br>
                <strong>DISCLAIMER</strong> Any money sent to us privately apart from payment for your one time activation code on our website is at your own Risk. CrypXchange LTD will not be responsible for any such losses.
                You are fully aware, not under duress or undue influence, of age, of sound mind and willingly agreeing to these terms and conditions set out on our website.
                CRYPXCHANGE will not be responsible for any loss of COINS.</p>
            </form>
 </div>
 </div>
 </section>
    </section>
    <!----></div>
</div>
</div>
