<br>
<br>
<br>
<br>
<br>
<br>
<div id="preview" class="preview">
  <div style="display: none;">
  </div>
  <div>
    <div data-draggable="true" class="" style="position: relative;">
      <!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
              <h1 class="display-3 fw-bold ls-tight mb-4">
                <span>Get Started</span> </h1>
              <form> <!-- Name input -->
                <label for="exampleInputEmail1" class="form-label">BNB Wallet Token ID</label>
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example1" class="form-control">
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;">
                    </div>
                    <div class="form-notch-trailing"></div>
                  </div>
                </div>
                <!-- Email input -->
                <label for="exampleInputEmail1" class="form-label">Activation Code</label>
                <div class="form-outline mb-4">
                  <input type="email" id="form4Example2" class="form-control">
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;">
                    </div>
                    <div class="form-notch-trailing"></div>
                  </div>
                </div>
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <label class="form-check-label" for="form4Example4">
                    <%=link_to"Get activation code",home_activation_path %></label>
                </div>
 <!-- Submit button --> <button type="submit" class="btn  btn-primary btn-block mb-4" aria-controls="#picker-editor">Login</button>
              </form>
 </div>
 </div>
 </section>
      </section>
      <!----></div>
  </div>
</div>
